@model Task2.Models.ExcelPresentationModel
    <h2>Tap on file name to preview data from db</h2>

<script>
function f(fileName)
{
    var convertedFile = JSON.stringify({name:fileName});
        console.log(convertedFile);
        var fff = {};
        fff.name = String(fileName);
        console.log(fff);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFile", "ExcelPresentation")',
            contentType: "application/json; charset=utf-8",
            //data: { "name": 'fileName' }, //json,
            //data: { "name": 'fileName' },
            data: JSON.stringify(fff),
            dataType: "json",
            success: function (response) {
                alert(response);
            }
        });
}
</script>
<script src="_framework/blazor.webassembly.js"></script>

<div>

        @foreach (var item in @Model.UploadedFiles)
        {
            <div class="button-item">

               <asp:Button id="Button1"
               Cssclass = "textButton"
               class="textButton"
               OnClick="f('@item')"
               runat="server">
               @item
               </asp:Button>

            </div>
        }
    
</div>
<div class="table-header">
    <table align="center" width="100%">
        <tr>
            <th colspan="3">Входящее сальдо</th>
            <th colspan="2">Обороты</th>
            <th colspan="2">Исходящее сальдо</th>
        </tr>
        <tr>
            <th>Б/сч</th>
            <th>Актив</th>
            <th>Пассив</th>
            <th>Дебет</th>
            <th>Кредит</th>
            <th>Актив</th>
            <th>Пассив</th>
        </tr>
        </table>
      
</div>
