@{
    ViewBag.Title = "UploadFile";
}
<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new {  type= "file"}) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
    <div>
        Uploaded files:
        @{
            var files = ViewData["Files"] as List<string>;
        }
        @if (files != null)
        {
            @foreach (var file in files)
            {
                <div>
                    @file<br>
                </div>
            }
        }

    </div>
}